{% extends 'base.html' %}
{% load static %}

{% block header %}

  {% include 'includes/top-header.html' %}

  {{ block.super }}

{% endblock %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
  <title>{{ title }}</title>
{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
      <form method="post" class="col-sm-6 m-auto">
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-primary" type="submit" value="Submit"/>
      </form>
    </div>
  </div>
{% endblock %}