{% load static %}
<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <title>Words</title>
  <link rel="icon" type="image/x-icon" href="{% static 'img/icon.jpeg' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <style>
    .fakeimg {
      height: 200px;
      background: #aaa;
    }
  </style>
  {% endblock %}
</head>

<body style="min-height: 100vh;">

  {% block header %}
    {% include 'includes/navbar.html' %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block footer %}
    {% include 'includes/footer.html' %}
  {% endblock %}

</body>

</html>
