{% extends 'base.html' %}
{% load static %}

{% block header %}

  {% include 'includes/top-header.html' %}

  {{ block.super }}

{% endblock %}


{% block content %}


  <div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-4">

        {% include 'includes/something-interesting.html' %}

        <hr class="d-sm-none">
      </div>
      <div class="col-sm-8">
        <h3>Этот сайт содержит около 30000 наиболее распространенных русских слов</h3>
        <img style="max-width: 100%;" src="{% static 'img/words.jpg' %}"></img>
      </div>
    </div>
  </div>

{% endblock %}

