{% extends 'base.html' %}
{% load static %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
  <title>{{ title }}</title>
{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-4">

       {% include 'includes/profile-nav.html' %}

      </div>
      <div class="col-sm-8">
        <form method="post" class="col-sm-10 m-auto" novalidate>
          <legend>Изменить личные данные</legend>
          {% csrf_token %}
          {{ form }}
          <input class="btn btn-primary" type="submit" value="Submit"/>
        </form>
      </div>

    </div>
  </div>
{% endblock %}