{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% load define_action %}

{% block head %}
  {{ block.super }}
  <link href="{% static 'css/words-list.css' %}" rel="stylesheet">
  <script src="{% static 'libs/jquery.textfill/jquery.textfill.js' %}"></script>
{% endblock %}

{% block content %}


  <div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-8">
        {% include 'includes/words-nav.html' %}

        <div class="word-list-container m-0 p-0 float-left">
          {% for word in words %}
            <div class="word-block-wrapper text-center">
              <div class="word-card-top">

                {% if word.length < 9 %}
                  {% define 16 as font_size %}
                {% else %}
                  {% define 140|div:word.length as font_size %}
                {% endif %}

                <span style="font-size: {{ font_size }}px">
                {{ word }}
              </span>
              </div>
              <div class="word-card-bottom">
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-sm-4">
        <a href="{% url 'create_word' %}" class="btn btn-success">➕ Создать слово</a>
      </div>

      {% include 'includes/paginator.html' %}
    </div>
  </div>

  <script>
    $('.word-block-wrapper').textfill({
      debug: true,
      maxFontPixels: 16
    });

  </script>



{% endblock %}