{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% load define_action %}

{% block head %}
  {{ block.super }}
  <link href="{% static 'css/groups-list.css' %}" rel="stylesheet">
  <script src="{% static 'libs/jquery.textfill/jquery.textfill.js' %}"></script>
{% endblock %}

{% block content %}


  <div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-8">
        {% include 'includes/words-nav.html' %}

        <div class="group-list-container m-0 p-0 float-left">
          {% for group in groups %}
            <a href="{% url 'words' %}?group={{ group.id }}">
              <div class="group-block-wrapper text-center">

                {% if group.length < 9 %}
                  {% define 16 as font_size %}
                {% else %}
                  {% define 140|div:group.length as font_size %}
                {% endif %}

                <span style="font-size: {{ font_size }}px">
                {{ group }}
              </span>

              </div>
            </a>
          {% endfor %}
        </div>
      </div>
      <div class="col-sm-4">
        <a href="{% url 'create_words_group' %}" class="btn btn-success">➕ Создать группу</a>
      </div>

      {% include 'includes/paginator.html' %}
    </div>
  </div>

  <script>
    $('.group-block-wrapper').textfill({
      debug: true,
      maxFontPixels: 16
    });

  </script>



{% endblock %}