* {
  margin: 0;
  padding: 0;
  border: 0;
}

.main-container {
  margin: 5px auto 0px auto;
  max-width: 1022px;
}

.text-shadow-bg {
  text-shadow: 0px 0px 4em #000,
  0px 0px 4em #000,
  0px 0px 4em #000,
  0px 0px 4em #000,
  0px 0px 4em #000,
  0px 0px 4em #000,
  0px 0px 4em #000;
}

.text-shadow-sm {
  text-shadow: 0px 0px 1em #000,
  0px 0px 1em #000,
  0px 0px 1em #000,
  0px 0px 1em #000;
}

a .text-shadow-sm:hover {
  text-shadow: 0px 0px 1em #000,
  0px 0px 1em #000,
  0px 0px 1em #000,
  0px 0px 1em #000,
  0px 0px 1em #000,
  0px 0px 1em #000;
}
