.group-block-wrapper {
  width: 100px;
  float: left;
  padding: 10px;
  border: 1px solid #d5d4d4;
  height: 100px;
  margin: 5px;
}

.group-block-wrapper:hover {
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
}