.word-block-wrapper {
  width: 120px;
  float: left;
  padding: 10px;
  border: 1px solid #d5d4d4;
  height: 120px;
  margin: 5px;
}

.word-block-wrapper:hover {
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
}

.word-card-top {
  height: 65%;
}

.word-card-bottom {
  height: 30%;
}