<div class="bg-dark">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark container text-capitalize">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">


        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'words' %}">words</a>
        </li>

        {% if user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile_edit' %}">profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">logout</a>
          </li>

        {% else %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">signup</a>
          </li>

        {% endif %}

      </ul>
    </div>
  </nav>
</div>