{% load define_action %}
{% load mathfilters %}
<style>
  .pagination {
    display: inline-block;
  }

  .page-item {
    float: left;
  }
</style>
<nav aria-label="Page navigation" class="m-3">
  <ul class="pagination">
    {% if not words.has_previous %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-label="Previous">

          {% elif words.previous_page_number == 1 %}
      <li class="page-item">
        <a class="page-link" href="?page={{ num }}" aria-label="Previous">

          {% else %}
      <li class="page-item">
      <a class="page-link" href="?page={{ words.previous_page_number }}" aria-label="Previous">
    {% endif %}

    <span aria-hidden="true">&laquo;</span>
    <span class="sr-only">Previous</span>
    </a>
    </li>


    {% for num in words.paginator.page_range %}
      {% define num|sub:words.number|abs as difference %}
      {#      <!-- Active page -->#}
      {% if num == words.number %}
        <li class="page-item active">
          <a class="page-link" href="#">{{ num }}<span class="sr-only">(current)</span></a>
        </li>

      {% else %}
        {% if num == 1 %}
          <li class="page-item">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
          </li>

        {% else %}
          {% if num|add:"-1" <= words.number and words.number <= num|add:"1" and num != words.paginator.num_pages %}
            <li class="page-item">
              <a class="page-link" href="?page={{ num }}" style="color: #ff692f;">{{ num }}</a>
            </li>

          {% elif num|add:"-3" <= words.number and words.number <= num|add:"3" and num != words.paginator.num_pages %}
            {% if difference|divisibleby:3 %}
              <li class="page-item">
                <a class="page-link" href="?page={{ num }}" style="color: #ffb700;">{{ num }}</a>
              </li>
            {% endif %}

          {% elif num|add:"-10" <= words.number and words.number <= num|add:"10" and num != words.paginator.num_pages %}
            {% if difference|divisibleby:"9" and num != words.paginator.num_pages %}
              <li class="page-item">
                <a class="page-link" href="?page={{ num }}" style="color: #8ab700;">{{ num }}</a>
              </li>
            {% endif %}

          {% elif num|add:"-100" <= words.number and words.number <= num|add:"100" and num != words.paginator.num_pages %}
            {% if difference|divisibleby:"99" and num != words.paginator.num_pages %}
              <li class="page-item">
                <a class="page-link" href="?page={{ num }}" style="color: #009e7f;">{{ num }}</a>
              </li>
            {% endif %}

          {% elif num|add:"-1000" <= words.number and words.number <= num|add:"1000" and num != words.paginator.num_pages %}
            {% if difference|divisibleby:"999" and num != words.paginator.num_pages %}
              <li class="page-item">
                <a class="page-link" href="?page={{ num }}" style="color: #00a2b7;">{{ num }}</a>
              </li>
            {% endif %}

          {% elif difference|divisibleby:"9999" and num != words.paginator.num_pages and num != words.paginator.num_pages %}
            <li class="page-item">
              <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>

          {% elif num == words.paginator.num_pages %}
            <li class="page-item">
              <a class="page-link" href="?page={{ num }}" style="color: #00a2b7;">{{ num }}</a>
            </li>
          {% endif %}

        {% endif %}
      {% endif %}

    {% endfor %}

    {% if not words.has_next %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-label="Next">

          {% else %}
      <li class="page-item">
      <a class="page-link" href="?page={{ words.next_page_number }}" aria-label="Next">
    {% endif %}

    <span aria-hidden="true">&raquo;</span>
    <span class="sr-only">Next</span>
    </a>
    </li>

  </ul>
</nav>
