<ul class="profile-nav nav nav-pills nav-justified flex-column mt-3 badge-light">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'profile_edit' %}">Личная информация</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'profile_change_password' %}">Изменить пароль</a>
  </li>
</ul>

<script>
  $('.profile-nav .nav-link').each(function (key, link) {
    if (window.location.pathname == $(link).attr('href')) {
      $(link).addClass('active');
    }
 })

</script>