<h3>Что-то интересное</h3>
<style>
  .s-i-container {
    text-decoration: none !important
  }

  .s-i-container .card {
    background-image: url({{ something_interesting.img_src }});
    background-size: cover;
    background-position-x: center;
    color: #e5ffde;
  }

  .s-i-container h4 {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
  }

</style>
<a target="_blank" href="{{ something_interesting.link }}" class="s-i-container">
  <div class="card">
    <h4 class="text-center text-shadow-sm">{{ something_interesting.title }}</h4>
  </div>
</a>
