{% load static %}
<div class="jumbotron text-center text-shadow-bg" style="
    margin-bottom:0;
    background-image: url({% static 'img/Knoweldge-Sharing.jpg' %});
    background-size: contain;
    border-radius: 0;

    ">
  <section style="
        border-radius: 2rem;
        width: fit-content;
        margin: auto;
        padding: 0 1rem;
        color: #f8f8f8;
        ">
    <h1>Improve yourself!</h1>
</div>