<ul class="words-nav nav nav-pills badge-light ml-1">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'words' %}">Слова</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'words_groups' %}">Группы слов</a>
  </li>
</ul>

<script>
  $('.words-nav .nav-link').each(function (key, link) {
    if (window.location.pathname == $(link).attr('href')) {
      $(link).addClass('active');
    }
 })
</script>